<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>        
        <%- include('navbar') %>
        <div class="description">Welcome to my mini message board!<br> <span>Share your thoughts or leave a quick note.</span></div>
        <div class="messagesContainer">
                <% messages.map((message) => { %>
                    <a href="/messages/<%= message.id %>">
                        <div class="messageBody">
                            <div class="messageText"><%= message.message %></div>
                            <div class="infoContainer">
                                <div>By <%= message.username %>,</div>
                                <div>on <%= message.datetime %></div>
                            </div>
                        </div>
                    </a>
                <% }) %>
        </div>
    </body>
</html>